{% extends "base.html" %}
{% block content %}

<!-- *************************************************************************************************************************
                                                        Start table box
******************************************************************************************************************************* -->
       <div class="container">
        <div class="box">
          <h1>Player Table</h1>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="playerTable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Height</th>
                      <th>Weight</th>
                      <th>Hometown</th>
                      <th>Team</th>
                  </tr>
              </thead>
              <tbody>
                {% for player in playerList %}
                  <tr>
                    <td>{{player.no}}</td>
                    <td><script> document.write('<a href="http://cfdb.me:5000/player_t/' + "{{player.name}}" + '"'); </script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​>{{player.name}}</a></td>
                    <td>{{player.pos}}</td>
                    <td>{{player.ht}}</td>
                    <td>{{player.wt}}</td>
                    <td>{{player.hometown}}</td>
                    <td><script> document.write('<a href="http://cfdb.me:5000/team_t/' + "{{player.team}}" + '"'); </script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​>{{player.team}}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Hometown</th>
                  <th>Team</th>
                </tr>
              </tfoot>
          </table>
       </div>
     </div>

     <!-- *************************************************************************************************************************
                                                        End table box
******************************************************************************************************************************* -->



    <!--additional jQuery -->
    <script src="js/jquery_dataTables.js"> </script>
    <script src="js/dataTables_bootstrap.js"> </script>
    <script src="js/dataTables_bootstrapPagination.js"> </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#conferenceTable').DataTable( {
        responsive: true,
        "iDisplayLength": 11,
        "sDom": "<'row'<'col-xs-6'T><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "sPaginationType": "bootstrap"
      } );
    } );
    </script>

{% endblock %}