{% extends "base.html" %}
{% block content %}


<!-- *************************************************************************************************************************
                                                        Start table box
******************************************************************************************************************************* -->
       <div class="container">
          <div class="box">
          <h1>Team Table</h1>
          <table cellpadding="0" cellspacing="0" border="0"
                 class="table table-striped table-bordered" id="teamTable">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Roster</th>
                      <th>Schedule</th>
                      <th>Head Coach</th>
                      <th>Conference</th>
                  </tr>
              </thead>
              <tbody>
                {% for team in teamList %}
                <tr>
                  <td><script> document.write('<a href="http://localhost:5000/team_t/' + "{{team.name}}" + '"'); </script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​>{{team.name}}</a></td>
                  <td>{{team.location}}</td>
                  <td><script> document.write('<a href="http://localhost:5000/team_t/' + "{{team}}" + '#roster"');</script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​>Roster</a></td>
                  <td><script> document.write('<a href="http://localhost:5000/team_t/' + "{{team}}" + '#schedule"');</script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​>Schedule</a></td>
                  <td>{{team.coach}}</td>
                  <td><script> document.write('<a href="http://localhost:5000/conf_t/' + "{{conf}}" + '"'); </script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​>{{conf}}</a></td>
                </tr>                         
              </tbody>
              <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Roster</th>
                    <th>Schedule</th>
                    <th>Head Coach</th>
                    <th>Conference</th>
                  </tr>
              </tfoot>
          </table>
       </div>
     </div>
<!-- *************************************************************************************************************************
                                                        End table box
******************************************************************************************************************************* -->


    <!--additional jQuery -->
    <script src="/js/jquery_dataTables.js"> </script>
    <script src="/js/dataTables_bootstrap.js"> </script>
    <script src="/js/dataTables_bootstrapPagination.js"> </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#conferenceTable').DataTable( {
        "iDisplayLength": 11,
        "sDom": "<'row'<'col-xs-6'T><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
        "sPaginationType": "bootstrap"
      } );
    } );
    </script>

{% endblock %}