{% extends "base.html" %}
{% block content %}

<!-- *************************************************************************************************************************
                                                        Start NBA Box
******************************************************************************************************************************* -->
    <div class="container">
                    <hr>
                        <h3 class="intro-text text-center">NBA Game</h3>
                    <hr>
                    <p class="team-text text-center">description of game...</p>
                    <hr>
                    


                        </div>
<!-- *************************************************************************************************************************
                                                        End NBA Box
******************************************************************************************************************************* -->

{% endblock %}