{% extends "base.html" %}
{% block content %}

<!-- *************************************************************************************************************************
                                                        Start copaDB Box
******************************************************************************************************************************* -->
    <div class="container">
                    <hr>
                        <h3 class="intro-text text-center">Memory Game</h3>
                    <hr>
                    <p class="team-text text-center">description of game...</p>
                    <hr>
                    <p></p>


    </div>
<!-- *************************************************************************************************************************
                                                        End copaDB Box
******************************************************************************************************************************* -->

{% endblock %}