{% extends "base.html" %}
{% block content %}



<!-- *************************************************************************************************************************
                                                        Start search box
******************************************************************************************************************************* -->

	<div class="center"><div class="inner" style="padding-top: 27px;"><h2>CFDB Search</h2></div></div>

	<div class="block" style="padding-top: 39px;">

	<form action="search.html">
	<input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
	</form>
	<div id="tipue_search_content"></div>



<!-- *************************************************************************************************************************
                                                        End search box
******************************************************************************************************************************* -->


{% endblock %}