{% extends "base.html" %}
{% block content %}



<!-- *************************************************************************************************************************
                                                        Start search box
******************************************************************************************************************************* -->

 	<div class="container">
        <div class="box">
 			<div class="center"><div class="inner" style="padding-top: 27px;"><h2>CFDB Search</h2></div></div>

				<div class="block" style="padding-top: 39px;">

				<div id="tipue_search_content"> hi </div>
			</div>
		</div>
	</div>


<!-- *************************************************************************************************************************
                                                        End search box
******************************************************************************************************************************* -->


{% endblock %}