{% extends "base.html" %}
{% block content %}

<!-- *************************************************************************************************************************
                                                        Start conference title
******************************************************************************************************************************* -->
            <div class="box-thin">
                    <h2 class="team-title-text text-center">
                        <strong>Big 12</strong>
                    </h2>
            </div>

<!-- *************************************************************************************************************************
                                                        End conference title
******************************************************************************************************************************* -->
<!-- *************************************************************************************************************************
                                                        Start conference Box
******************************************************************************************************************************* -->
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Conference
                        <strong>Statistics</strong>
                    </h2>
                    <hr>
                    <p class="text-center">Year Founded: 1996</p>
                    <p class="text-center">Commissioner: Bob Bowlsby</p>
                    <p class="text-center">Current Conference Champion: Baylor, TCU</p>
                    <p class="text-center">Number of Members: 10</p>
                    <hr>
                    <p class="text-center bold-text">Teams: </p>
                        <p class="text-center">Baylor</p>
                        <p class="text-center">Iowa State</p>
                        <p class="text-center">Kansas</p>
                        <p class="text-center">Kansas State</p>
                        <p class="text-center">Oklahoma</p>
                        <p class="text-center">Oklahoma State</p>
                        <p class="text-center">TCU</p>
                        <p class="text-center"> <a href="../team_pages/ut.html">Texas</a> </p>
                        <p class="text-center">Texas Tech</p>
                        <p class="text-center">West Virginia</p>
                </div>
            </div>
        </div>
    </div>
<!-- *************************************************************************************************************************
                                                        End conference Box
******************************************************************************************************************************* -->


{% endblock %}